.c-block {
  @media (max-width: 460px) {
    &c-block__text {
      hyphens: auto;
      overflow-wrap: break-word;
    }
  }

  .c-alps-icon,
  .c-alps-icon svg {
    width: 1.5rem;
    height: 1.5rem;

    path {
      fill: currentColor;
    }
  }

  .title-react-icon {
    .u-icon {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      text-align: center;
    }
  }
}
