/* Styles for expandable and collapsible descriptions in MediaBlock */
.c-block__description-wrapper.collapsed {
  .c-block__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    line-clamp: 5; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
  }
}