@use '/src/styles/colors.scss' as *;

.videoPlayer {
  width: 100%;
  container-type: inline-size;
}

.videoPlayer-layout {
  display: flex;
  gap: 24px;
  margin-top: 16px;

  @container (max-width: 635px) {
    flex-direction: column;
  }
}

.videoPlayer-player {
  flex: 0 0 auto;
  width: 400px;
  max-width: 100%;
}

.videoPlayer-sidebar {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-height: 500px;
  overflow-y: auto;
}

.videoItem {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  cursor: pointer;

  &.active {
    border-left: 4px solid $mingColor;
    padding-left: 8px;
  }

  img {
    width: 100px;
    min-width: 100px;
    height: 70px;
    object-fit: cover;
    flex-shrink: 0;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
  }
}
