.playlist-action-buttons {
  .buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    column-gap: 6%;
    row-gap: 5px;
    align-items: start;

    & > *:nth-child(3) {
      grid-column: 1 / -1;
      justify-self: start;
    }

    @media (max-width: 380px) {
      grid-template-columns: 1fr;
      row-gap: 5px;
      width: 100%;

      & > * {
        width: 100%;
        max-width: 100%;
        justify-self: stretch;
      }
    }
  }

  .share-fields {
    position: relative;
    padding-top: 16px;

    &.withLabel {
      .copy-button {
        margin-top: 20px;
      }
    }

    .share-link {
      display: flex;
      & > :first-child {
        flex-grow: 1;
      }

      @media (max-width: 325px) {
        flex-direction: row;
        & > :first-child {
          flex: 1 1 auto;
          width: 100%;
        }
      }

      .copy-button {
        flex-shrink: 0;
        padding-right: 0;

        @media (max-width: 325px) {
          padding-left: 0.5rem;
        }
      }
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
    }
  }
}
