.playlist-action-buttons {
  .buttons {
    display: flex;
    column-gap: 6%;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 380px) {
      flex-direction: column;
      width: 100%;
      max-width: 100%;

      .share-button {
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .share-fields {
    position: relative;
    padding-top: 16px;

    &.withLabel {
      .copy-button {
        margin-top: 20px;
      }
    }

    .share-link {
      display: flex;
      & > :first-child {
        flex-grow: 1;
      }

      @media (max-width: 325px) {
        flex-direction: row;
        & > :first-child {
          flex: 1 1 auto;
          width: 100%;
        }
      }

      .copy-button {
        flex-shrink: 0;
        padding-right: 0;

        @media (max-width: 325px) {
          padding-left: 0.5rem;
        }
      }
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
    }
  }
}
