@use '/src/styles/const.scss' as *;

.separator-wrapper {
  position: absolute;
  inset: -1px 0;
  .separator--bottom {
    height: $separator-bottom-height;
    width: 100%;
    position: absolute !important;
    bottom: 0 !important ;
    top: auto;

    .separator__layer-1 {
      position: absolute;
      width: 100%;
      height: 100%;
      fill: white;
    }
  }
}
