@use '../../styles/colors.scss' as *;

.lessonQBlock-bottom-line {
  position: relative;
  background-color: #d9f1f7;
  &::after {
    content: '';
    display: block;
    margin: 10px auto 0;
    border-bottom: $mingColor 2px solid;
  }
}
