@use '../../styles/colors.scss' as *;

.to-lesson img {
  border-radius: 50%;
}
.lessonQBlock-bottom-line {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 80%;
    margin: 10px auto 0;
    border-bottom: $mingColor 2px solid;
  }
}
