.video-grid-container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > * {
    width: 100%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
  }

  .single-video-item {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between; // to align the buttons
  }

  .media-playlist-list {
    margin-top: 0;
    display: block;

    .playlist-item {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      .share-button {
        display: none;
      }

      .playlist-card {
        picture {
          aspect-ratio: 16 / 9;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        &.is-current {
          .c-block__image {
            outline: none;
            .c-block__image-wrap {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
