.team {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 976px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &-card {
    display: flex;
    flex-direction: column;

    img {
      display: block;
      object-fit: cover;
      aspect-ratio: 4 / 6;
    }
  }
}
