@use '/src/styles/colors.scss' as *;
.audio-instructions {
  &__caption {
    &__icon-wrapper {
      background: $mingColor;
      border-radius: 50%;
      padding: 3px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      vertical-align: middle;
    }

    .icon {
      vertical-align: middle;
      height: 20px;
    }

    &__bookmark-btn-wrap {
      white-space: nowrap;
      display: inline-flex;
      align-items: center;

      .o-button--small {
        pointer-events: none;
        padding: 0.5rem;
        font-size: 0.65rem;
      }
    }
  }
  &.c-block__expand .c-block__toggle {
    width: auto;
    margin-left: calc(0.625rem / 2 * 1.5);
  }
}
