@use '/src/styles/colors.scss' as *;
@use '/src/styles/const.scss' as *;

.testimonies-stories {
  .year-buttons {
    text-align: center;

    button {
      border-radius: 0;
      text-transform: none;

      &:first-child {
        border-top-left-radius: $btnBorderRadius;
        border-bottom-left-radius: $btnBorderRadius;
      }

      &:last-child {
        border-top-right-radius: $btnBorderRadius;
        border-bottom-right-radius: $btnBorderRadius;
      }

      &.selected-button {
        background-color: $selectedBgColor;
        color: $selectedColor;
      }
    }
  }
}
