@use '/src/styles/tabs-bar' as tabs;

.testimonies-page {
  .MuiTabs-root.testimonies-tabs {
    @include tabs.tabs-bar;
  }

  .MuiTabPanel-root {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
}
