@use '/src/styles/colors.scss' as *;

$btnBorderRadius: 3.125rem;

.testimonies-tabs {
  color: $lighterMingColor;

  .MuiTabs-list {
    &.MuiTabs-flexContainer {
      @media (min-width: 665px) {
        justify-content: center;
      }
    }

    button {
      border-radius: 0;

      &.MuiTab-root {
        line-height: 1;
        font-family: inherit;
        font-weight: bold;
        border-radius: 0;
        border-width: 1px;
        border-style: solid;

        &:first-child {
          border-top-left-radius: $btnBorderRadius;
          border-bottom-left-radius: $btnBorderRadius;
        }

        &:last-child {
          border-top-right-radius: $btnBorderRadius;
          border-bottom-right-radius: $btnBorderRadius;
        }

        &.Mui-selected {
          background-color: $lighterMingColor;
          color: $mingDarkestColor !important;
        }
      }
    }
  }
}

.MuiTabPanel-root {
  padding: 0 !important;
}
