@use '/src/styles/colors.scss' as *;
.feed-section {
  position: relative;
  container-type: inline-size;
  background-color: #d9f1f7;
  &::after {
    content: '';
    display: block;
    margin: 10px auto 0;
    border-bottom: $mingColor 2px solid;
  }
  .feed-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    .c-media-block {
      width: 100%;
      min-width: 0;
      & > * {
        width: 100% !important;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &--3-on-row {
      grid-template-columns: repeat(3, 1fr);
    }
    &--4-on-row {
      grid-template-columns: repeat(4, 1fr);
      @container (max-width: 640px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @container (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @container (max-width: 300px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
