$lighterMingColor: #9ae1f0;
$lightMingColor: #00d5fe;
$mingColor: #007f98;
$mingDarkColor: #255760;
$mingDarkestColor: #002938;

// from Zafir (https://www.adventist.bg/ with ming theme)
// .color-theme-ming {
//   --theme-100: 154 225 240; //#9AE1F0
//   --theme-300: 0 213 254; //#00D5FE
//   --theme-500: 0 127 152; //#007F98
//   --theme-700: 37 87 96; //#255760
//   --theme-900: 0 41 56; //#002938
// }

$grayDarkerColor: #222;
$grayDarkColor: #4a4a4a;
$lightGrayColor: #f5f5f5;

$selectedBgColor: $mingColor;
$selectedColor: #fff;
