@use '/src/styles/const.scss' as *;

$space: 5%;
.home-top-container {
  padding-top: $space;
  padding-left: $space;
  padding-right: $space;
  display: flex;
  flex-direction: row;
  column-gap: $space;
  row-gap: 3rem;
  @media only screen and (max-width: 976px) {
    flex-direction: column;
  }
  &.with-background {
    width: 100%;
    background-image: url(/img/net_bgr.webp);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  &.has-bottom-separator {
    position: relative;
    padding-bottom: calc($space + $separator-height);
  }
  .daily-verse-container {
    flex: 1 1 40%;
    width: 100%;
    box-sizing: border-box;
  }
}
