@use '../../styles/colors.scss' as *;

.playlist-card {
  position: relative;
  .media-icon-button-container {
    background-color: rgba($mingColor, 0.4);
  }
  &.is-current {
    .media-icon-button-container {
      .media-icon-button.icon--audio {
        background-image: url(/images/icon__audio-current.svg);
      }
    }
  }
  &.is-playing {
    .media-icon-button-container {
      .media-icon-button.icon--audio {
        background-image: url(/images/icon__audio-pause.svg);
      }
    }
  }
}
