.download-item {
  display: flex;
  align-items: flex-start;
}

.share-field-wrapper {
  position: relative;
}

.share-field-wrapper .close-button {
  position: absolute;
  top: 0.5rem;
  right: -0.2rem;
  padding: 0;
}
