.playlist-action-buttons {
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .share-field {
    position: relative;

    .close-button {
      position: absolute;
      top: 0.5rem;
      right: 0;
      padding: 0;
    }
  }
}
