.health-books-page {
  .playlist-item {
    padding: 0;
  }

  .health-books-list img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .new-life-ad .new-life-ad-content {
    display: flex;

    .new-life-logo {
      max-width: 100px;
      max-height: 80px;
      width: 100%;
    }
  }
}
