@use '/src/styles/colors.scss' as *;
@use '/src/styles/const.scss' as *;

$shareBtnSwitch: 380px;

.videoPlayer {
  width: 100%;
  container-type: inline-size;

  &-layout {
    display: flex;
    gap: 24px;
    margin-top: 16px;

    @container (max-width: 670px) {
      flex-direction: column;

      &-player {
        width: 100% !important;
      }

      &-sidebar {
        max-height: none;
        overflow-y: visible;
      }
    }

    &-player {
      flex: 0 0 auto;
      width: 400px;
      max-width: 100%;
      white-space: pre-line;

      .share-video-button {
        display: none;

        @media (max-width: $shareBtnSwitch) {
          display: block;
        }
      }
    }

    &-sidebar {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      max-height: min(500px, 40vh);
      overflow-y: auto;

      .videoItem {
        display: flex;
        gap: 8px;
        padding: 4px 8px;
        cursor: pointer;

        &.active {
          background-color: rgba($mingColor, 0.2);
        }

        &:hover:not(.active) {
          background-color: $lightGrayColor;
        }

        .video-index-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        img {
          width: 100px;
          height: 56px;
          object-fit: cover;
          flex-shrink: 0;
          align-self: center;
        }

        &-thumb {
          display: flex;
        }

        &-text {
          flex: 1 1 auto;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &-link {
          padding: 0;

          @media (max-width: $shareBtnSwitch) {
            display: none;
          }

          &:disabled,
          &:disabled:hover {
            color: inherit;
            opacity: 0.5;
            cursor: default;
          }
        }

        @media (max-width:  $XSmall) {
          display: grid;
          grid-template-columns: auto 100px;
          grid-template-rows: auto auto auto;
          column-gap: 8px;
          row-gap: 0;
          align-items: center;

          .video-index-container {
            grid-column: 1;
            grid-row: 1;
            align-self: center;
          }

          img {
            grid-column: 2;
            grid-row: 1;
            margin-right: 0;
          }

          .videoItem-text {
            grid-column: 1 / -1;
            grid-row: 2;
            margin-top: 0.5rem;
          }

          &-link {
            grid-column: 2;
            grid-row: 3;
            justify-self: end;
          }
        }
      }
    }
  }
}
