$itemW: 274px;
$spacing: 2.5rem;

.media-playlist-list {
  display: grid;
  row-gap: $spacing;
  grid-template-columns: repeat(auto-fit, minmax($itemW, 1fr));

  .playlist-item {
    width: $itemW;
  }
}

// On very small screens make playlist items fluid (shrink with page)
@media (max-width: 380px) {
  .media-playlist-list {
    display: block;
    > * + * {
      margin-top: $spacing;
    }
    .playlist-item {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
