$itemW: 274px;

.media-playlist-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($itemW, 1fr));

  .playlist-item {
    width: $itemW;
  }
}

// On very small screens make playlist items fluid (shrink with page)
@media (max-width: 325px) {
  .media-playlist-list {
    display: block;
    .playlist-item {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
