.links-block.c-cta-block {
  .title-with-image {
    display: flex;
    align-items: center;

    .small-image {
      object-fit: cover;
      flex-shrink: 0;
    }
  }

  &.has-image {
    @media (max-width: 700px) {
      & > *:first-child {
        max-width: 300px;
      }
    }
    @media (min-width: 701px) {
      & > *:first-child {
        width: 25%;
      }

      & > *:nth-child(2) {
        width: 75%;
      }
    }
  }
}
