.dictionary-list {
  .pullquote {
    white-space: pre-line;

    p {
      padding-top: 0;
      padding-left: 0;
      font-style: normal;
      font-weight: normal;
    }

    .o-citation {
      padding-left: 0;
    }
  }
}
