@use '/src/styles/colors.scss' as *;
@use '/src/styles/const.scss' as *;

.dictionary-page {
  .dictionary-tabs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    justify-content: center;

    .dictionary-tab-btn {
      border-radius: 0;
      background-color: transparent;
      color: $mingColor;
      margin-left: -1px;

      &:first-child {
        border-top-left-radius: $btnBorderRadius;
        border-bottom-left-radius: $btnBorderRadius;
        margin-left: 0;
      }

      &:last-child {
        border-top-right-radius: $btnBorderRadius;
        border-bottom-right-radius: $btnBorderRadius;
      }

      &.is-active {
        background-color: $mingColor;
        color: #fff;
      }

      &:hover:not(.is-active) {
        background-color: $mingDarkColor;
        color: #fff;
      }
    }
  }
}
