// Overwirte alps font-family: 'Noto Serif', Georgia, Times, 'Times New Roman', serif;

$primary-font: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;

p,
blockquote p,
.u-font--primary,
.u-font--primary p,
.u-font--primary-nav,
.u-font--primary--xxl,
.u-font--primary--xl,
.u-font--primary--l,
.u-font--primary--m,
.u-font--primary--s,
.u-font--primary--xs,
.o-citation,
.c-block__heading-link,
.c-block__title,
.c-inline-sidebar-block__title,
.c-church-info.c-church-info--basic .c-church-info__title,
.c-church-info.c-church-info--large .c-church-info__header__title,
.c-search-results__item__title,
.c-store-product-detail__title,
.c-store-product-detail__long-desc,
.c-store-cart-add__options__title,
.c-store-cart-add__custom-amount__text,
.c-store-cart-item,
.c-store-cart-item__col--quantity input,
.c-store-checkout-info__text,
.c-store-checkout-products__item,
.c-store-checkout-place__text,
.c-store-products--list .c-store-products__item__content-title,
.c-store-totals__price {
  font-family: $primary-font;
}

.text {
  > dl dd,
  > dl dt,
  > ol li,
  > ul li,
  > p,
  > h4,
  > h5,
  > h6 {
    font-family: $primary-font;
  }
}
