@use '/src/styles/colors.scss' as *;

.biblical {
  @media (max-width: 900px) {
    .c-sidebar {
      margin-top: 20px;
    }
    &.full-section {
      margin-top: 50px;
    }
  }

  .believe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 1rem;

    @media (max-width: 990px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .youtube-section img {
    border: 1px solid $grayColor;
  }
}
