@use '/src/styles/colors.scss' as *;

.rbc-calendar {
  .rbc-date-cell * {
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
    background: none;
    background-color: transparent;
    box-shadow: none;
    color: inherit;
  }

  .rbc-agenda-table {
    tbody tr td {
      word-break: break-word;
    }

    @media (max-width: 360px) {
      .rbc-agenda-time-cell {
        white-space: normal;
        min-width: 80px;
      }
    }
  }
}

.u-theme--ming {
  .rbc-event {
    a {
      color: white;
    }
  }

  .rbc-event,
  .rbc-agenda-table {
    // from p styles in alps:
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.875rem;
    a {
      text-decoration: underline;
    }
  }

  .rbc-show-more {
    font-size: 0.71rem;
    background-color: inherit;
    color: inherit;
  }

  .rbc-toolbar {
    button {
      border-radius: 3.125rem;
    }
  }

  .rbc-toolbar {
    flex-wrap: nowrap;
  }

  .rbc-toolbar button,
  .rbc-show-more {
    &:active,
    &.rbc-active,
    &:hover {
      box-shadow: none;
      background-color: $mingDarkColor;
      border-color: $mingDarkColor;
      color: #fff;
    }
  }

  .rbc-agenda-view {
    overflow: unset;
  }

  @media (max-width: 845px) {
    // Prevent calendar popup (rbc-overlay) from overflowing the screen
    // Ensures the "show more" events popup stays visible and scrollable
    .rbc-overlay {
      max-width: 100vw;
      max-height: 80vh;
      left: auto !important;
      // right: 0 !important;
      overflow-y: auto;
      overflow-x: auto;
    }
  }
}
