$mingColor: #007f98;
// css for fa-icon
.c-header__nav-primary .c-primary-nav__link {
  display: flex;
  align-items: baseline;
}
.c-primary-nav__link, .c-subnav__link {
  white-space: nowrap !important;
  &.active {
    color: $mingColor !important
  }
}