$transformation_hover: translateY(-5px) rotate(-45deg);
$transformation_icon: translateY(0) rotate(45deg);
$buttonW: 42px;
$offset-bottom: 104px; //space for audio player when visible

/* Colors */
// :root {
//   --sp-primary: #007f98;
// }
.scrollup {
  position: fixed;
  top: 0;
  right: max(1px, calc((100vw / 7 - var(--scrollbar-width) - $buttonW) / 2));
  width: $buttonW;
  height: $buttonW;
  line-height: $buttonW;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  // taken from the theme:
  // color: #ffffff;
  // background-color: var(--sp-primary);
  border: none;
  outline: none;
  border-radius: initial;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  i {
    display: inline-block;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  &.is-active {
    top: calc(100vh - #{$buttonW} - $offset-bottom);
    margin-bottom: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    &:hover,
    &:focus {
      color: #ffffff;
      transform: $transformation_hover;
      -webkit-transform: $transformation_hover;
      -moz-transform: $transformation_hover;
      -o-transform: $transformation_hover;
      -ms-transform: $transformation_hover;
      i {
        transform: $transformation_icon;
        -webkit-transform: $transformation_icon;
        -moz-transform: $transformation_icon;
        -o-transform: $transformation_icon;
        -ms-transform: $transformation_icon;
      }
    }
  }
}
